.dialog {
    margin: 10px 0;
}

.dialog .link {
    text-decoration: none;
    color: #000;
}

.dialog .linkActive {
    color: #ffa836;
    text-decoration: none;
}

.dialog .link:hover,
.dialog .linkActive:hover {
    color: #985200;
}