.dialog {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.dialog .link {
    text-decoration: none;
    color: #000;
}

.dialog .linkActive {
    color: #ffa836;
    text-decoration: none;
}

.dialog .link:hover,
.dialog .linkActive:hover {
    color: #985200;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(56, 58, 69, 0.5);
}