.message {
    width: fit-content;
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.messageText {
    border: 2px solid rgba(56, 58, 69, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.currentUser {
    flex-direction: row-reverse;
}

.currentUser .messageText{
    background-color: rgba(255, 245, 54, 0.5);
}

.anotherUser .messageText{
    background-color: rgba(84, 84, 84, 0.5);
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

