.nav {
    grid-area: nav;
    background-color: #383A45;
    padding: 20px;
}

.item {
    margin: 10px 0;
}

.item .link {
    color: antiquewhite;
    text-decoration: none;
}

.item .linkActive {
    color: #ff9500;
    text-decoration: none;
}

.item .link:hover,
.item .linkActive:hover {
    color: #ffcc93;
}