.dialogs {
    display: grid;
    grid-template-areas: "d m"
                        "d t";
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialogsItems {
    grid-area: d;
}

.messagesItems {
    display: flex;
    flex-direction: column;
    grid-area: m;
    align-items: stretch;
    margin-left: 15px;
}

.textarea {
    padding: 10px;
    resize: none;
    border-radius: 10px;
    background-color: rgba(56, 58, 69, 0.1);
    grid-area: t;
}